@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');




body{
    margin:0;
    display:flex;
    flex-direction: column;
    padding:0;
    gap:3px;
    position:relative;
    background-color: antiquewhite;
}

header{
    /*border:2px solid red;*/
    margin:0;
}

.navi{
    display:flex;
    /*border:1px solid red;*/
    padding:5px 36px;
    justify-content: flex-start;
    overflow: hidden;
    
    
    
}

.listsleft{
    /*border:1px solid red;*/
    list-style-type:none;
    padding-left:4px;
    overflow: hidden;
    display:flex;
    justify-content: flex-start;
    gap:2em;
    
}

.purch{
    color:rgb(252, 151, 0);
    font-size:1.6rem;
    font-family: 'Rum Raisin', sans-serif;
}

.listsleft li a{
    color:rgb(0, 0, 0);
    font-size:1.6rem;
    font-family: 'Rum Raisin', sans-serif;
    white-space: nowrap;
    overflow:hidden;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    text-decoration: none;

}

.listsleft li a:hover{
    color:rgb(252, 151, 0);
    
}

.shop{
    /*border:2px solid red;*/
    text-align: center;
    color:black;
    font-size:3.9rem;
    font-family: 'Rum Raisin', sans-serif;
    position: relative;
    top:-5vh;
}

.tiles{
    /*border:2px solid red;*/
    height:50vh;
    display:flex;
    flex-direction:column;
    padding:13px 350px;
    gap:1em;

}

/*first tile group*/

.firsttiles{
    /*border:2px solid blue;*/
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:4px;
    gap:1.2em;
}

/*booktile styling*/

.booktile{
    /*border:2px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:225px;
    width: 230px;
    border-radius: 25px;
    /*box-shadow: 4px 4px 14px 0px black;*/
    text-decoration: none;
    background-color: #ffb649;
    
    
}

.btimg{
    /*border:2px solid red;*/
    max-width: 208px;
    max-height: 220px;
    position: relative;
    padding:0;
    margin:0;
    
}

.btinfo{
    
    position: relative;
    top: -3.5vh;
    font-size: 1.6rem;
    font-weight: 550;
    text-align: center;
    color: black;
}

/*toytile styling*/

.toytile{
    /*border:2px solid green;*/
    background-color: rgb(237 197 165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:225px;
    width: 230px;
    gap:5px;
    border-radius: 25px;
    /*box-shadow: 4px 4px 14px 0px black;*/
    text-decoration: none;
}

.ttimg{
    max-width: 208px;
    max-height: 220px;
    position: relative;
    padding:0;
    margin:0;
}

.ttinfo{
    position: relative;
    top: -3.5vh;
    font-size: 1.6rem;
    font-weight: 550;
    text-align: center;
    color: black;
}
/*second tile group*/

.sectiles{
    /*border:2px solid blue;*/
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:4px;
    gap:1.2em;
}

.medtile{
    /*border:2px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:225px;
    width: 230px;
    border-radius: 25px;
    /*box-shadow: 4px 4px 14px 0px black;*/
    text-decoration: none;
    background-color: #c484ff;
}

.medimg{
    max-width: 208px;
    max-height: 172px;
    position: relative;
    padding:0;
    margin:0;
}

.medinfo{
    color: black;
    position: relative;
    font-size: 1.6rem;
    font-weight: 550;
    text-align: center;
    

}

.booktile:hover, .toytile:hover, .medtile:hover{
    box-shadow: 4px 4px 14px 0px black;
}

.preload{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index:100;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;*/
}

.gif{
    width:auto;
    max-height:350px;
}