@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Sinhala:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@600&display=swap');

body{
    margin:0;
    display:flex;
    flex-direction: column;
    padding:0;
    gap:3px;
    position:relative;
}


.bgimg{
    position: relative;
    z-index:0;
    width: 100%;
    height:100vh;
    background-image: url(../IMG/alfons-morales-YLSwjSy7stw-unsplash.jpg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    top:-86px;
    filter: blur(3px);
    margin:0;
    overflow: hidden;
    
}


.listsright,.listsleft, .navi .navlist{
    display:flex;
}

a{
    text-decoration: none;
}

header{
    position:relative;
    z-index:2;
}
.navi{
    display:flex;
    border:1px solid red;
    padding:5px 36px;
    justify-content: flex-start;
    overflow: hidden;
    
    
}

.listsleft{
    /*border:1px solid red;*/
    list-style-type:none;
    gap:2em;
    padding:3px;
    overflow: hidden;
    
}


.listsright{
    /*border:1px solid red;*/
    gap:2em;
    list-style-type: none;
    padding:3px;
    overflow: hidden;
    margin-left:auto;
    
}

.hobut{
    color:rgb(252, 151, 0);
    font-size:1.6rem;
    font-family: 'Rum Raisin', sans-serif;
}


.listsleft li a,.listsright li a{
    color:white;
    font-size:1.6rem;
    font-family: 'Rum Raisin', sans-serif;
    white-space: nowrap;
    overflow:hidden;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;

}

.listsright li{
    padding-left:15px;
    padding-right:15px;
    border:3px solid black;
    border-radius: 20px;
    
    
}


.listsleft li a:hover,.listsright li a:hover{
    color:rgb(252, 151, 0);
    
}

.welinfo{
    border:3px solid red;
    position: relative;
    top:-106vh;
    display:flex;
    width:auto;
    max-height: 96vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    
}

.pahana a{
    color:white;
    padding:6px;
    border:5px solid rgb(0, 0, 0);
    font-size:1.5rem;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
}

.pahana a:hover{
    padding:8px;
    
}

.pahana{
    border:2px solid red;
    opacity: 0;
    color: aliceblue;
    font-family: 'Acme', sans-serif;
    font-size:7rem;
    top:30px;
    transform: translateX(444px);
    animation-name: welinfo;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 900ms;
    animation-delay: 2.5s;
    z-index:2;
}


.bookpic{
    border:2px solid red;
    width:auto;
    max-height:175vh;
    object-fit: contain;
    position:relative;
    /*top:6vh;*/
    transform: translateX(-226px);
    filter: blur(0.3px);
    animation-name: bookpi;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 900ms;
    animation-delay: 2.5s;
    z-index: 1;
    
}


@keyframes bookpi{
    from{
        transform: translateX(-226px);
    }
    to{
        transform: translateX(10px);
    }
}

@keyframes welinfo{
    from{
        transform: translateX(444px);
        opacity:0;
    }
    to{
        transform: translateX(218px);
        opacity:1;
    }
}


/*jawaya book*/
.jawayabk{
    border:3px solid red;
    max-height:745px;
    position:relative;
    top:-776px;
    z-index:3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bjwinfo{
    border:2px solid blue;
    transform: translateX(277px);
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-size: 1.2rem;
    width:auto;
    max-height:10em;
}

.bjwimg{
    border:2px solid blue;
    width:auto;
    max-height:37em;
    transform: translateX(25px);
    
}

/*hudkala book*/

.hubk{
    border:3px solid red;
    max-height:745px;
    position:relative;
    top:-643px;
    z-index:3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.huinfo{
    border:2px solid blue;
    transform: translateX(277px);
    font-family: 'Noto Sans Sinhala', sans-serif;
    font-size: 1.2rem;
    width:auto;
    max-height:10em;
}

.huimg{
    border:2px solid blue;
    width:auto;
    max-height:37em;
    transform: translateX(-40px);
}

.preload{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index:100;
    background: #000 url(/IMG/bookload2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}